<header>
    <nav class="header-nav">
        <a href="/" class="header-title">Durawood</a>
        <ul>
            <li ><a href="/authors">All authors</a></li>
            <li ><a href="/authors/new">create author</a></li>
            <li ><a href="/books">All books</a></li>
            <li ><a href="/books/new">create book</a></li>
        </ul>
    </nav>
</header>