<header>
    <nav>
        <a href="/">Durawood</a>
        <ul>
            <li><a href="/authors">All authors</a></li>
            <li><a href="/authors/new">create author</a></li>
        </ul>
    </nav>
</header>