<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="../../filepond/css/filepond.css" />
    <link type="text/css" rel="stylesheet" href="../../filepond/css/filepond-plugin-image-preview.css" />

    <script defer type="text/javascript" src="../../filepond/javascripts/filepond-plugin-image-preview.js"></script>
    <script defer type="text/javascript" src="../../filepond/javascripts/filepond-plugin-file-encode.js"></script>
    <script defer type="text/javascript" src="../../filepond/javascripts/filepond-plugin-image-resize.js"></script>

    <script defer type="text/javascript" src="../../filepond/javascripts/filepond.js"></script>
    <script defer type="text/javascript" src="../../filepond/javascripts/fileupload.js"></script>

    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Mybrary</title>
</head>
<body>
   <div class="container">
        <%- include( '../partials/header.ejs' ) %> 
        <div class="inner-container">
            <%- include( '../partials/errorMessage.ejs' ) %> 
            <%- body %> 
        </div>
   
   </div>
   
    
</body>
</html>